li {
    list-style: none;
    font-size: 1.2rem;
}

.working-hours {
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    padding: 1rem;
}

.contact-info {
    border: 2px solid black;
    border-radius: 12px;
    padding: 1rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 30%;
    top: 30%;
}

.contact-num {
    margin-bottom: 10px;
}

.contact-email {
    margin-top: 0;
}